{% if nginx_ssl_on %}
server {
  listen       80;
  server_name  {{ nginx_server_name }};
  rewrite  ^ https://$http_host$request_uri? permanent;
}
{% endif %}

server {
{% if nginx_ssl_on %}
  listen      443 ssl;

  ssl_certificate      /etc/nginx/cert/server.crt;
  ssl_certificate_key  /etc/nginx/cert/server.key;

{% else %}
  listen       {{ nginx_listen_port }};
{% endif %}
  server_name  {{ nginx_server_name }};

  client_max_body_size 1k;         # リクエストボディのサイズ制限
  client_header_buffer_size 1k;    # リクエストヘッダのサイズ制限
  large_client_header_buffers 4 8k;

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
    if ($request_method != GET ) {
      return 403;
    }
  }

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }
}
