global_defs {
    enable_script_security
}

vrrp_script chk_nginx {
    script "/usr/bin/systemctl is-active nginx"
    interval 3
}
 
vrrp_instance VI_1 {
    state BACKUP
    interface {{ nginx_cluster.check_interface }}
    virtual_router_id 51
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass GGhdN3L13l
    }
    virtual_ipaddress {
        {{ nginx_cluster.virtual_ipaddr }} dev {{ nginx_cluster.check_interface }}
    }
    track_script {
        chk_nginx
    }
    notify_backup "/usr/bin/sudo ip addr del {{ nginx_cluster.virtual_ipaddr }} dev {{ nginx_cluster.check_interface }}"
    notify_fault "/usr/bin/sudo systemctl start nginx"
}
